@{
    ViewData["Title"] = "Home Page";
}



<form asp-action="Index" method="post">
    <label > Nhập họ tên:</label>
    <input type="text" name="FullName">
    <label> Nhập Địa Chỉ:</label>
    <input type="text" name="Address">
    <input type="submit" value="Gửi dữ liệu">
</form>
<h1>@ViewBag.Message</h1>
